@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, #757eff, #f23d5b);
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
}

#active:checked ~ .wrapper{
  clip-path: circle(75%);
}

#active:checked ~ .menu-btn{
  background: #fff;
  color: #c72424;
  border-color: #c72424;
  transition: all 0.3s ease;
}

#active:checked ~ .menu-btn i:before{
  content: "\f00d";
}

.menu-btn{
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 2;
  text-align: center;
  line-height: 50px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  background: #c72424;

}

.wrapper ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.wrapper ul li{
  margin: 20px 0;
}

.wrapper ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px;
  line-height: 50px;
  transition: all 0.3s ease;
}
/*
.wrapper ul li a::after{
  content: "";
  position: absolute;
  left:0;
  width: 100%;
  height: 50px;
  background: #fff;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}

.wrapper ul li a:hover::after{
  transform: scaleY(1);
}

.wrapper ul li a:hover{
  background: -webkit-linear-gradient(45deg, #757eff, #f23d5b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
*/

.nav-option{
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.nav-option:before, .nav-option:after {
  content: '';
  position: absolute;
  width: 0%;
  top: 50%;
  height: 3px;
  margin-top: -0.5px;
  background: #f72a34;
}

.nav-option:before {
  left: -2.5px;
}
.nav-option:after {
  right: 2.5px;
  background: #f72a34;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.nav-option:hover:before {
  background: #f72a34;
  width: 105%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.nav-option:hover:after {
  background: transparent;
  width: 105%;
  transition: 0s;
}

input{
  display: none;
}

nav .logo {
  z-index: 10;
  position: fixed;
  float: left;
  line-height: 70px;
  padding: 10px;
  margin-left: 4vw;
  margin-top: 1vw;
  background: rgba( 255, 255, 255, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5px );
-webkit-backdrop-filter: blur( 5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

nav .logo img{
  height: 60px;
  width:auto;
  margin-left: 5px;
  margin-right: 5px;
}

.content {
  z-index: -1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.content > div {
  padding-top: 20px;
  padding-bottom: 20px;
}

.fond {
  align-items: center;
  z-index: -1;
  width: 100%;
  padding-top: 85px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}

.style_prevu_kit {
  display: inline-block;
  border: 0;
  width: 200px;
  height: 150px;
  margin-bottom: 5px;
  position: relative;

  transition: all 200ms ease-in;
  transform: scale(1);
}

.zoombox {
  box-shadow: 0px 0px 70px #444444;
  z-index: 2;

  transition: all 200ms ease-in;
  transform: scale(1.1);
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
/*Road Map*/

.roadmap-container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 38px;
  color: #616161;
  font-style: italic;
  font-weight: 800;
}

.timeline {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.2);
}

.timeline .swiper-container {
  height: 600px;
  width: 100%;
}

.timeline .swiper-wrapper {
  transition: 2s cubic-bezier(0.68, -0.4, 0.27, 1.34) 0.2s;
}

.timeline .swiper-slide {
  position: relative;
  color: #fff;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.timeline .swiper-slide::after {
  content: "";
  position: absolute;
  z-index: 1;
  right: -115%;
  bottom: -10%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: -230px 0 150px 60vw rgba(0, 0, 0, 0.7);
  border-radius: 100%;
}

.timeline .swiper-slide-content {
  position: absolute;
  text-align: center;
  width: 80%;
  max-width: 310px;
  right: 50%;
  top: 13%;
  transform: translate(50%, 0);
  font-size: 12px;
  z-index: 2;
}

.timeline .swiper-slide .timeline-year {
  display: block;
  font-style: italic;
  font-size: 42px;
  margin-bottom: 50px;
  transform: translate3d(20px, 0, 0);
  color: #d4a024;
  font-weight: 300;
  opacity: 0;
  transition: 0.2s ease 0.4s;
}

.timeline .swiper-slide .timeline-title {
  font-weight: 800;
  font-size: 34px;
  margin: 0 0 30px;
  opacity: 0;
  transform: translate3d(20px, 0, 0);
  transition: 0.2s ease 0.5s;
}

.timeline .swiper-slide .timeline-text {
  line-height: 1.5;
  opacity: 0;
  transform: translate3d(20px, 0, 0);
  transition: 0.2s ease 0.6s;
}

.timeline .swiper-slide-active .timeline-year {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 0.4s ease 1.6s;
}

.timeline .swiper-slide-active .timeline-title {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 0.4s ease 1.7s;
}

.timeline .swiper-slide-active .timeline-text {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 0.4s ease 1.8s;
}

.timeline .swiper-pagination {
  right: 15% !important;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  z-index: 1;
}

.timeline .swiper-pagination::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.timeline .swiper-pagination-bullet {
  width: auto;
  height: auto;
  text-align: center;
  opacity: 1;
  background: transparent;
  color: #d4a024;
  margin: 15px 0 !important;
  position: relative;
}

.timeline .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -32.5px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #d4a024;
  transform: scale(0);
  transition: 0.2s;
}

.timeline .swiper-pagination-bullet-active {
  color: #d4a024;
}

.timeline .swiper-pagination-bullet-active::before {
  transform: scale(1);
}

.timeline .swiper-button-next,
.timeline .swiper-button-prev {
  background-size: 20px 20px;
  top: 15%;
  width: 20px;
  height: 20px;
  margin-top: 0;
  z-index: 2;
  transition: 0.2s;
}

.timeline .swiper-button-prev {
  left: 8%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23d4a024'%2F%3E%3C%2Fsvg%3E");
}

.timeline .swiper-button-prev:hover {
  transform: translateX(-3px);
}

.timeline .swiper-button-next {
  right: 8%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23d4a024'%2F%3E%3C%2Fsvg%3E");
}

.timeline .swiper-button-next:hover {
  transform: translateX(3px);
}

@media screen and (min-width: 768px) {
  .timeline .swiper-slide::after {
    right: -30%;
    bottom: -8%;
    width: 240px;
    height: 50%;
    box-shadow: -230px 0 150px 50vw rgba(0, 0, 0, 0.7);
  }

  .timeline .swiper-slide-content {
    right: 30%;
    top: 50%;
    transform: translateY(-50%);
    width: 310px;
    font-size: 11px;
    text-align: right;
  }

  .timeline .swiper-slide .timeline-year {
    margin-bottom: 0;
    font-size: 32px;
  }

  .timeline .swiper-slide .timeline-title {
    font-size: 46px;
    margin: 0;
  }

  .timeline .swiper-pagination {
    display: flex;
  }

  .timeline .swiper-button-prev {
    top: 15%;
    left: auto;
    right: 15%;
    transform: rotate(90deg) translate(0, 10px);
  }

  .timeline .swiper-button-prev:hover {
    transform: rotate(90deg) translate(-3px, 10px);
  }

  .timeline .swiper-button-next {
    top: auto;
    bottom: 15%;
    right: 15%;
    transform: rotate(90deg) translate(0, 10px);
  }

  .timeline .swiper-button-next:hover {
    transform: rotate(90deg) translate(3px, 10px);
  }
}

@media screen and (min-width: 1024px) {
  .timeline .swiper-slide::after {
    right: -20%;
    bottom: -12%;
    width: 240px;
    height: 50%;
    box-shadow: -230px 0 150px 39vw rgba(0, 0, 0, 0.7);
  }

  .timeline .swiper-slide-content {
    right: 25%;
  }
}
.section-1 {
  z-index: 0;
  margin: 0px;
  height: 100vh;
  width: 100%;
  background-color: transparent;
}
.section-intro {
  padding-top: 100px;
  width: 50%;
  display: block;
  margin-left: 50%;
  height: 100vh;
  background-color: #c72424;
}
.item {
  width: 100%;
  height: 200px;

  background: #ccc;
  color: #fff;
}

/* Social media */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0e.ttf)
    format("truetype");
}

#social-test .social {
  padding-left: 0px;
  width: 180px;
}

#social-test li {
  display: inline-block;
}

#social-test li a {
  color: rgba(255, 255, 255, 0.6);
  border-radius: 6px;
  list-style-type: none;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  padding: 1%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: ease 0.3s;
}

#social-test li a:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.social:hover > li {
  opacity: 0.5;
}

.social:hover > li:hover {
  opacity: 1;
}
/* Footer */
.container-fluid {
  overflow: hidden;
  margin-top: 10px;
  color: #627482 !important;
  margin-bottom: 0;
  padding-bottom: 0;
}

small {
  font-size: calc(
    12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.bold-text {
  color: #989c9e !important;
}

.container-fluid .mt-55 {
  margin-top: calc(
    50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.container-fluid h3 {
  font-size: calc(
    34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.social {
  font-size: 21px !important;
}

.rights {
  font-size: calc(
    10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}
/* Headins of sections */
.headings-of-sections {
  position: relative;
  padding: 20px 20px 20px 30px;
  margin: 10px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.headings-of-sections:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #c72424;
  transform-style: linear;
  transition-property: height, width;
  transition-delay: 0.5s, 1s;
  transition-duration: 0.5s;
}
.headings-of-sections:hover:before {
  transition-property: width, height;
  width: 15px;
  height: 100%;
}
.headings-of-sections:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #ffc7c7;
  transform: scaleX(0);
  transition: 0.5s;
  transition-delay: 0s;
  transform-origin: left;

  z-index: -1;
}
.headings-of-sections:hover:after {
  transform: scaleX(1);
  transition-delay: 1.5s;
}
/* Left section of intro */
.left-section {
  position: absolute;
  padding-top: 50px;
  width: 50%;
  display: block;
  margin-right: 50%;
  height: 100vh;
}
/* Tagline css */
@keyframes tipsy {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

.tagline {
  color: black;
  text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: -3px;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media screen and (max-width: 600px) {
  .tagline {
    font-size: 8vw;
  }
}

.tagline:before,
.tagline:after {
  content: "";
  padding: 0.9em 0.4em;
  position: absolute;
  left: 50%;
  width: 150%;
  top: 50%;
  display: block;
  border: 10px solid red;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  animation: 10s infinite alternate ease-in-out tipsy;
}

.tagline:before {
  border-color: #d9524a #d9524a rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: -1;
}

.tagline:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #d9524a #d9524a;
  box-shadow: 25px 25px 25px rgba(46, 46, 49, 0.8);
}

/* Text below tagline */
.text-below-tagline {
  position: relative;
  top: 55%;
  font-size: 1.8vw;
  padding: 50px;
}

@media screen and (max-width: 600px) {
  .text-below-tagline {
    top: 40%;
    font-size: 2.5vw;
  }
}

/* Text animation for right side */
.Iam {
  padding: 4em 4em;
  font: normal 30px/40px Montserrat, sans-serif;
  color: black;
}
.Iam p {
  height: 40px;
  float: left;
  margin-right: 0.3em;
}
.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 40px;
  top: 40px;
}
.Iam .innerIam {
  display: inline-block;
  color: white;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;

  /*animation*/
  -webkit-animation: move 10s;
  -moz-animation: move 10s;
  -ms-animation: move 10s;
  -o-animation: move 10s;
  animation: move 10s;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /*animation-delay*/
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -40px;
  }
  40% {
    top: -80px;
  }
  60% {
    top: -120px;
  }
  80% {
    top: -160px;
  }
}

@-webkit-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}
@-moz-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}
@-o-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}
@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}

@media screen and (max-width: 600px) {
  .Iam {
    font-size: 2.4vw;
  }
}
